<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    This is Germany - under development
</div>

<div id="drag-field" ondrop="drop(event)" ondragover="allowDrop(event)">
    drag any content in here
</div>

	<script src="../static/js/jquery.min.js"></script>
	<script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
	<script src="../static/js/queue.min.js"></script>
	<script src="../static/js/d3.min.js"></script>
    <script src="../static/js/drop.js"></script>


</body>
</html>

