<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-152873385-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-152873385-1');
</script>
    <!-- Hotjar Tracking Code for https://whatothersread.herokuapp.com/ -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1577389,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

    <meta charset="UTF-8">
    <title>What do others read? </title>
  	<meta name="viewport" content="width=device-width, initial-scale=1">

{##}
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="stylesheet" href="../static/styles/flickity.min.css" media="screen">
    <link rel="shortcut icon" href="../static/favicon.ico">


{#    the "slick" slider#}
{#      <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css">#}
{#        <!-- Add the slick-theme.css if you want default styling -->#}
{#        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css">#}
{#    <link rel="stylesheet" type="text/css" href="http://kenwheeler.github.io/slick/slick/slick-theme.css"/>#}
{#      <link rel="stylesheet" type="text/css" href="../static/slick/slick.min.css">#}
{#  <link rel="stylesheet" type="text/css" href="../static/slick/slick.css">#}

{#  <link rel="stylesheet" type="text/css" href="../static/slick/slick-theme.css">#}
{#    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" rel="stylesheet"/>#}

     <link rel="stylesheet" href="../static/styles/bootstrap.min.css">


             <script type="text/javascript">
            var content = {{content|tojson}}
             var date = {{date|tojson}}
             var scrollToAnchor = {{scrollToAnchor|tojson}}

            </script>


            {#    the  date picker!! #}
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />


</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <div  class="col-md-2"></div>
                <div  class="col-md-6">

                </div>
            <div  class="col-md-2" id="language-selector">
                <a id="link_to_US" href="/">   USA  </a> I
                <a id="link_to_UK" href="/UK">     UK    </a> I
                 <a id="link_to_germany" href="/germany"> Germany   </a>





                </div>
            <div  class="col-md-2"></div>

        </div>

        <div class="row">
            <div  class="col-md-2"></div>
            <div class="col-md-8">
            <h1 id="website-title">Compare media coverage? Pick a subject! </h1>
                </div>
            <div  class="col-md-2"></div>
        </div>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 justify-content-center subject-wrapper">
                <button class="btn btn-primary justify-content-center subject-button" value="sports" id="subject-button"> Sports </button>
                <button class="btn btn-primary justify-content-center subject-button" value="impeachment"> Impeachment </button>
                <button class="btn btn-primary justify-content-center subject-button" value="politics"> Politics </button>
                <button class="btn btn-primary justify-content-center subject-button" value="travel"> Travel </button>
                <button class="btn btn-primary justify-content-center subject-button" value="business"> Business </button>
                <button class="btn btn-primary justify-content-center subject-button" value="weather"> Weather </button>
                <button class="btn btn-primary justify-content-center subject-button" value="international"> International </button>


            </div>
            <div class="col-md-2"></div>

        </div>

             <div class="row" id="selectors">
            <div  class="col-md-2"></div>
                 <div class="col-md-8">
                 <form class="form-inline justify-content-center" method="post" id="my-form">
                       <label class="sr-only" for="inlineforminput">Name</label>
                      <input type="text" name="query" class="form-control-lg" id="inlineforminput" placeholder="e.g. impeachment, sport, crime...">
                   <input id="datepicker-large" name="date" width="276" />
                     <div id="form-placeholder" class="col-md-1"></div>
                                            <button id="submit-button" type="submit" class="btn btn-primary btn-lg col-lg-2 col-md-3 col-sm-3 justify-content-center">Find News!</button>
                                      </form>
                </div>
            <div  class="col-md-2"></div>

        </div>



{#        <div class="row">#}
{#            <div class="col-md-2">  </div>#}
{##}
{##}
{#            <div class="col-md-1" id ="MSNBC"> MSNBC </div>#}
{#            <div class="col-md-1"id="CNN"> CNN </div>#}
{#            <div class="col-md-1"id ="Politico"> Politico </div>#}
{#            <div class="col-md-2"id="NYT">#}
{#                <div>#}
{#                <h1> New York Times </h1>#}
{#                </div>#}
{#                #}
{#            </div>#}
{#            <div class="col-md-1"id="Fox"> Fox </div>#}
{##}
{#            <div class="col-md-1" id ="Breitbart"> Breitbart </div>#}
{##}
{#            <div class="col-md-1" id="Infowars"> Infowars </div>#}
{##}
{##}
{#            <div class="col-md-2">  </div>#}
{##}
{##}
{#        </div>#}

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8" id="date-today-wrapper">
                <p id="date-today"> </p></div>
            <div class="col-md-2"></div>

        </div>


        <div class="row">
            <div class="col-md-2"></div>
                <div class="col-md-8" id="political-status-bar-wrapper">
                        <div class="slidecontainer">
                          <input type="range" min="0" max="7" value="4" class="slider" id="myRange">
                        </div>


                </div>
            <div class="col-md-2"></div>

        </div>








        <div class="row" id="main-carousel-row">

<div class="col-md-2"></div>

<div class="col-md-8">


                        <div class="main-carousel" id="carousel">
                             <div class="carousel-cell">
                                 <div>
                                     <p id="outlet0"> </p>
                                 </div>
                                 <div>
                                        <h3 id="headline0" class="headline"> </h3>
                                </div>
                                <div>
                                    <a id="photo-link0">
                                    <img id="photo0" src="" class="img-fluid"> </img> </a>
                                </div>
                                <div>
                                    <p id="content0" class="content"> </p>
                                </div>
                                 <div>
                                     <ul id="list-group0" class="list_group">
                                         <li id="1_list0" class="list_item"></li>
                                        <li id="2_list0" class="list_item"></li>
                                        <li id="3_list0" class="list_item"></li>
                                     </ul>
                                 </div>
                             </div>

                            <div class="carousel-cell">
                                 <div>
                                     <p id="outlet1"> </p>
                                 </div>
                                 <div>
                                        <h3 id="headline1"class="headline"> </h3>
                                </div>
                                <div>
                                    <a id="photo-link1">
                                        <img id="photo1" src="" class="img-fluid"> </img></a>
                                </div>
                                <div>
                                    <p id="content1" class="content"> </p>
                                </div>
                                <div>
                                     <ul id="list-group1" class="list_group">
                                         <li id="1_list1" class="list_item"></li>
                                        <li id="2_list1" class="list_item"></li>
                                        <li id="3_list1" class="list_item"></li>
                                     </ul>
                                 </div>

                             </div>

                            <div class="carousel-cell">
                                 <div>
                                     <p id="outlet2"> </p>
                                 </div>
                                 <div>
                                        <h3 id="headline2"class="headline"> </h3>
                                </div>
                                <div>
                                    <a id="photo-link2">
                                        <img id="photo2" src="" class="img-fluid"> </img></a>
                                </div>
                                <div>
                                    <p id="content2" class="content"> </p>
                                </div>
                                <div>
                                     <ul id="list-group2" class="list_group">
                                         <li id="1_list2" class="list_item"></li>
                                        <li id="2_list2" class="list_item"></li>
                                        <li id="3_list2" class="list_item"></li>
                                     </ul>
                                 </div>

                             </div>

                            <div class="carousel-cell">
                                 <div>
                                     <p id="outlet3"> </p>
                                 </div>
                                 <div>
                                        <h3 id="headline3"class="headline"> </h3>
                                </div>
                                <div>
                                    <a id="photo-link3">
                                        <img id="photo3" src="" class="img-fluid"> </img></a>
                                </div>
                                <div>
                                    <p id="content3" class="content"> </p>
                                </div>
                                <div>
                                     <ul id="list-group3" class="list_group">
                                         <li id="1_list3" class="list_item"></li>
                                        <li id="2_list3" class="list_item"></li>
                                        <li id="3_list3" class="list_item"></li>
                                     </ul>
                                 </div>
                             </div>

                            <div class="carousel-cell">
                                 <div>
                                     <p id="outlet4"> </p>
                                 </div>
                                 <div>
                                        <h3 id="headline4"class="headline"> </h3>
                                </div>
                                <div>
                                    <a id="photo-link4">
                                        <img id="photo4" src="" class="img-fluid"> </img></a>
                                </div>
                                <div>
                                    <p id="content4" class="content"> </p>
                                </div>
                                <div>
                                     <ul id="list-group4" class="list_group">
                                         <li id="1_list4" class="list_item"></li>
                                        <li id="2_list4" class="list_item"></li>
                                        <li id="3_list4" class="list_item"></li>
                                     </ul>
                                 </div>
                             </div>

                            <div class="carousel-cell">
                                 <div>
                                     <p id="outlet5"> </p>
                                 </div>
                                 <div>
                                        <h3 id="headline5"class="headline"> </h3>
                                </div>
                                <div>
                                    <a id="photo-link5">
                                        <img id="photo5" src="" class="img-fluid"> </img></a>
                                </div>
                                <div>
                                    <p id="content5" class="content"> </p>
                                </div>
                                <div>
                                     <ul id="list-group5" class="list_group">
                                         <li id="1_list5" class="list_item"></li>
                                        <li id="2_list5" class="list_item"></li>
                                        <li id="3_list5" class="list_item"></li>
                                     </ul>
                                 </div>
                             </div>

                            <div class="carousel-cell">
                                 <div>
                                     <p id="outlet6"> </p>
                                 </div>
                                 <div>
                                        <h3 id="headline6"class="headline"> </h3>
                                </div>
                                <div>
                                    <a id="photo-link6">
                                        <img id="photo6" src="" class="img-fluid"> </img></a>
                                </div>
                                <div>
                                    <p id="content6" class="content"> </p>
                                </div>
                                <div>
                                     <ul id="list-group6" class="list_group">
                                         <li id="1_list6" class="list_item"></li>
                                        <li id="2_list6" class="list_item"></li>
                                        <li id="3_list6" class="list_item"></li>
                                     </ul>
                                 </div>
                             </div>

                            <div class="carousel-cell">
                                 <div>
                                     <p id="outlet7"> </p>
                                 </div>
                                 <div>
                                        <h3 id="headline7"class="headline"> </h3>
                                </div>
                                <div>
                                    <a id="photo-link7">
                                        <img id="photo7" src="" class="img-fluid"> </img> </a>
                                </div>
                                <div>
                                    <p id="content7" class="content"> </p>
                                </div>
                                <div>
                                     <ul id="list-group7" class="list_group">
                                         <li id="1_list7" class="list_item"></li>
                                        <li id="2_list7" class="list_item"></li>
                                        <li id="3_list7" class="list_item"></li>
                                     </ul>
                                 </div>
                             </div>




                    </div>

            </div>
            <div class="col-md-2"></div>

        </div>

        <div class="row" id="footer">

            <div class="col-md-2"></div>
            <div class="col-md-8" id="footer-text"> powered by NewsAPI.org </div>
            <div class="col-md-2"></div>



    </div>



	<!-- Load JS libraries -->
{#        <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>#}
{#<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>#}
	<script src="../static/js/jquery.min.js"></script>
	<script src="../static/js/popper.min.js"></script>
    	<script src="../static/js/bootstrap.min.js"></script>
	<script src="../static/js/queue.min.js"></script>
	<script src="../static/js/d3.min.js"></script>

{#    datepicker#}
        <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>





{#    <script type="text/javascript" src="../static/js/slick.min.js"></script>#}
{#          <script type="text/javascript" src="../static/slick/slick.min.js"></script>#}




{#    #}

        {#    load my own javascript files#}
        <script src="../static/js/main.js"></script>
        <script src="../static/js/flickity.pkgd.min.js"></script>

        <script>
                $('.main-carousel').flickity({
        // options
        adaptiveHeight: true,
        imagesLoaded: true,
        cellAlign: 'center',
        contain: true,
        draggable: true,
        pageDots: true,
        initialIndex: 4
    });




            </script>




</body>
</html>