/* custom css rules */

body {
	font-family: 'Raleway', sans-serif;
}



.row-names{
	text-align: right;
}



.carousel-cell{
	height: 700px;
	width: 20%;
	padding-left: 15px;
	padding-right: 15px;
	/*height: 450px;*/
	/*fill: grey;*/
	/*background-color: grey;*/
	/*display: flex;*/
}

.headline{
	min-height: 150px;
	text-align: center;
/*	display: flex;*/
/*flex: 1*/
/*	padding-bottom: 100%;*/
/*    margin-bottom: -100%;*/
}

.outlet{
	text-align: center;
}
#website-title{
	text-align: center;
	padding-bottom: 50px;
	padding-top: 50px;
}

/*#submit-button{*/
/*	margin-left: 30px;*/
/*}*/
#selectors{
	padding-bottom: 50px;
}

#datepicker{
	/*min-height: 40px;*/
	/*margin-bottom: 40px;*/
	/*margin-top: 40px;*/
}
button.btn.btn-outline-secondary.border-left-0{
	height: 100%
}
/*
.triangle-path{
	stroke: #646464;
	color: grey;
	stroke-width: 1px;
	!*
	stroke-dasharray: 2,2;
	*!
	stroke-linejoin: round;
}*/


#datepicker-large, #inlineforminput,#submit-button{
	font-size: 30px;
	/*margin-left: 50px;*/
}
i.gj-icon{
	position: relative; !important
	font-size: 35px; !important
	top: 17px; !important
}

#datepicker-large{
	width: 100%;
}
#form-placeholder{
	margin-bottom: 30px;
}

#submit-button{
	display: block;
	width: 100%;
	/*margin-left: 30px;*/
}

#inlineforminput{
	width: 100%;
	margin-bottom: 20px;
	text-align: center;

}

#language-selector{
	text-align: right
}










@media(max-width: 900px){

.carousel-cell{
	height: 700px;
	width: 60%;
	padding-left: 15px;
	padding-right: 15px;
	/*height: 450px;*/
	/*fill: grey;*/
	/*background-color: grey;*/
	/*display: flex;*/
}

	#submit-button{
		margin-top: 0px;
		margin-left: 0px;
	}

.headline{
	min-height: 100px;
	text-align: center;
	font-size: 20px;
/*	display: flex;*/
/*flex: 1*/
/*	padding-bottom: 100%;*/
/*    margin-bottom: -100%;*/
}
#datepicker-large, #inlineforminput,#submit-button{
	font-size: 18px;
	/*margin-left: 50px;*/
}
#website-title{
	padding-top: 15px;
	padding-bottom: 15px;
}

}